/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
 -fx-background-image:url('../assets/doctor_1.jpg') ;width: 50px ;  
 
}
#button1{
    -fx-color:#ACE2F5 
}
#button2{
    -fx-color:#ACE2F5 
}
#button3{
    -fx-color:#ACE2F5 
}

